.container {
    padding: 1em;
    min-height: 100vh;
}

.tabs {
    padding: 1em;
    margin: 0 auto;
    width: 80%;
}

.tabs-title {
    margin-bottom: 1em;
}

.tab-label {
display:flex;
flex-direction: column;
border-top: 0.02em solid rgb(211, 207, 207);
color: blue;
padding: 1em 0;
}

.text-container {
    display:flex;
    justify-content: space-between;
}

.tab-content {
    max-height:0;
}

.tab-input {
    display: none;
}

.tab-input:checked ~ .tab-label > .tab-content {
    max-height: 100vh;
    padding-bottom: 1.2em;
}

.tab-input:checked ~ .tab-label {
    color: black;
}

.tab-input:checked ~ .tab-label .cross i {
    transform: rotate(135deg);
    transition: transform 0.5s ease-in-out;
}

.tab-mem {
    display: block;
    aspect-ratio: 1;
    object-fit: cover;
    width: 40%;
    margin: 0 auto;
}

.cross {
display: none;
}

@media (hover: hover) {
    .tabs:hover {
        cursor: pointer;
    }

    .tabs:hover .tab-label {
        color: black;
    }

    .tabs:hover .cross {
        display: block;
    }

    .tab:hover  > .tab-label > .tab-content {
        display: block;
        padding: 1.2em;
    }

    .tab-input:hover ~ .tab-label .cross i {
        transform: rotate(135deg);
        transition: transform 0.5s ease-in-out;
    }

    .tab-input:hover ~ .tab-label .tab-mem {
        box-shadow: 0 0.5 0.5 0.5;
    }
}
